@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: conic-gradient(#333, #222, #333);
  /* background: conic-gradient(#444, #333, #444); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a, button {
  cursor: pointer;
}

.text-shadow-black-background-black {
  text-shadow: 2px 2px 0 black;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.nav-item-text-shadow-black {
  text-shadow: 1px 1px 0 black;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

/* Remove text-shadow on hover */
.hover\:no-text-shadow-black-background-black:hover {
  text-shadow: none !important;
}

.text-shadow-green-background-black {
  text-shadow: 2px 2px 0 lab(70.5521 -66.5147 45.8072);
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}


.group:hover .group-hover\:text-shadow-green-background-black {
  text-shadow: 1px 1px 0 lab(70.5521 -66.5147 45.8072) !important;
  /* background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text; */
}

/* embla styles */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__viewport {
  overflow: hidden;
}

.embla__controls {
  /* display: grid; */
  /* grid-template-columns: auto 1fr; */
  /* justify-content: space-between; */
  /* gap: 1.2rem; */
  /* margin-top: 1.8rem; */
}
.embla__buttons {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center; */
}
.embla__button {
  /* -webkit-tap-highlight-color: rgba(101, 101, 101, 0.5); */
  /* -webkit-appearance: none; */
  /* appearance: none; */
  /* background-color: transparent; */
  touch-action: manipulation;
  /* display: inline-flex; */
  /* text-decoration: none; */
  cursor: pointer;
  border: 0;
  padding: 0;
  /* margin: 0; */
  /* box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234); */
  /* width: 3.6rem; */
  /* height: 3.6rem; */
  z-index: 1;
  /* border-radius: 50%; */
  /* color: rgb(222, 222, 222); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  /* color: rgb(101, 101, 101); */
  /* display: none; */
  opacity: 0.2;
}
.embla__button__svg {
  width: 20%;
  height: 20%;
}