@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: conic-gradient(#333, #222, #333);
  /* background: conic-gradient(#444, #333, #444); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a, button {
  cursor: pointer;
}

.text-shadow-black-background-black {
  text-shadow: 2px 2px 0 black;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

/* Remove text-shadow on hover */
.hover\:no-text-shadow-black-background-black:hover {
  text-shadow: none !important;
}

.text-shadow-green-background-black {
  text-shadow: 2px 2px 0 lab(70.5521 -66.5147 45.8072);
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.hover\:green-text-shadow-black-background-black:hover {
  text-shadow: 2px 2px 0 lab(70.5521 -66.5147 45.8072) !important;
}